.header {
  background-color: #d5eb34;
}
.img {
  width: 50px;
}
.btn {
  padding: 10px;
}
.intro-image {
  width: 350px;
}
.center {
  text-align: center;
}
.hd-section {
  background-color: antiquewhite;
  padding-bottom: 10px;
}
.gallery-img {
  width: 100%;
}
.foo {
  cursor: pointer;
  background-color: powderblue;
}
.footer {
  text-align: center;
  background-color: palegreen;
}
